{% extends "layout/layoutextend.html" %}
{% block title %} Profile  {% endblock title %}
{% block body %}
	<center>
	<table>
	<tr>
	<td>
		<b>Update  Details </b><hr/>
		<form action="" method="post">
		    {{ form.non_field_errors }}
		    {% csrf_token %}
		    <div class="fieldWrapper">
		        <span class="spanerror">{{ form.first_name.errors }}</span>
		        <label for="id_first_name">First Name:</label>
		        {{ form.first_name }}
		    </div>
		    <div class="fieldWrapper">
		        <span class="spanerror">{{ form.last_name.errors }}</span>
		        <label for="id_last_name">Last Name:</label>
		        {{ form.last_name }}
		    </div>
		    <div class="fieldWrapper">
		        <span class="spanerror">{{ form.email.errors }}</span>
		        <label for="id_last_name">Email:</label>
		        {{ form.email }} <a href="#" >TODO VERIFY MAIL</a>
		    </div>
		    <p><input type="submit"  value="Update" /></p>
		        <br/>
		        TODO : Also on update email put validation if new email is verified
		        <br/>Also if exist log :- Notify to admin :- Send Message for verification etc.
		</form>    
	</td>
	<td>
		<b>Change Passowrd </b><hr/>
		<form action="/profile/change-password/" method="post">
			{% csrf_token %}
		    <div class="fieldWrapper">
		        <span class="spanerror">{{ form.currentpassword.errors }}</span>
		        <label for="id_last_name">Current Password :</label>
		        {{ form.currentpassword }}
		    </div>

		    <div class="fieldWrapper">
		        {{ form.password.errors }}
		        <label for="id_last_name">New Password :</label>
		        {{ form.password }}
		    </div>
		    <div class="fieldWrapper">
		        {{ form.repeatpassword.errors }}
		        <label for="id_last_name">Repeat Password:</label>
		        {{ form.repeatpassword }}
		    </div>
		    <input type="hidden" name="action" value="change_password"/>
		    <p><input type="submit" value="Change Password" /></p>
		</form>
	
	</td></tr>
	<tr>
		<td colspan=2>
			<h1>Add Friends </h1>
		</td>
	</tr>
	
	
	</table>
	</center>
{% endblock body%}
