{% extends "layout/layoutextend.html" %}
{% block title %} Profile  {% endblock title %}
{% block body %}
<h1> Profile Page </h1>
	<center>
		<h1>Update  Details </h1>
		<form action="" method="post">
		    {{ form.non_field_errors }}
		    {% csrf_token %}
		    <div class="fieldWrapper">
		        {{ form.first_name.errors }}
		        <label for="id_first_name">First Name:</label>
		        {{ form.first_name }}
		    </div>
		    <div class="fieldWrapper">
		        {{ form.last_name.errors }}
		        <label for="id_last_name">Last Name:</label>
		        {{ form.last_name }}
		    </div>
		    <div class="fieldWrapper">
		        {{ form.email.errors }}
		        <label for="id_last_name">Email:</label>
		        {{ form.email }}
		    </div>
		    <p><input type="submit"  value="Update" /></p>
		</form>    
		<h1>Change Passowrd </h1>
		<form action="/profile/change-password/" method="post">
			{% csrf_token %}
		    <div class="fieldWrapper">
		        {{ form.currentpassword.errors }}
		        <label for="id_last_name">Current Password :</label>
		        {{ form.currentpassword }}
		    </div>

		    <div class="fieldWrapper">
		        {{ form.password.errors }}
		        <label for="id_last_name">New Password :</label>
		        {{ form.password }}
		    </div>
		    <div class="fieldWrapper">
		        {{ form.repeatpassword.errors }}
		        <label for="id_last_name">Repeat Password:</label>
		        {{ form.repeatpassword }}
		    </div>
		    <input type="hidden" name="action" value="change_password"/>
		    <p><input type="submit" value="Change Password" /></p>
		</form>
	</center>
{% endblock body%}
