{% extends "layout/layoutextend.html" %}
{% block title %} Registration {% endblock title %}
{% block loginregister %}
  {% if not user.is_authenticated %}<a href="/login/">login</a> {% endif %}
  {% if user.is_authenticated %}<a href="/logout/">logout</a>
  {% endif %}
 {% endblock loginregister%}
{% block body %}
	<center>
<form action="" method="post">
<h1>Register </h1>
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>


<pre>
http://code.google.com/p/django-simple-captcha/issues/detail?id=46 [Make ajax call as ajax and update every]

http://django-simple-captcha.googlecode.com/files/django-simple-captcha-0.3.0.zip
      # http://code.google.com/p/django-simple-captcha/wiki/CaptchaConfiguration
      # http://code.google.com/p/django-simple-captcha/wiki/CaptchaGenerators

</pre>

	</center>	

{% endblock body%}
